/* -- Allgemein -- */
.allg-bg {
  background: url(../img/dark-man.jpg) 50% 0 fixed no-repeat;
  height: 100%;
  background-size: cover;
}

.bg-caption {
  text-shadow: -1px 0 8px black, 0 1px 8px black, 1px 0 8px black, 0 -1px 8px black;
  color: white;
}

.bg-overlay {
  height: 100%;
  width: 100%;
  background-color: rgba(51, 51, 51, 0.4);
  position: absolute;
  top: 0;
}

/* Schriften */
body,
p{
    font-family: 'Glory', sans-serif;
    font-weight: 400;
}

h1 {
  font-family: 'Azeret Mono', monospace;
  font-weight: 400;
}
h2,
h3,
h4,
h5,
h6,
.font-alt {
  font-family: 'Pacifico', cursive;
  font-weight: 400;
}

.text-name {
  text-shadow: -1px 0 8px white, 0 1px 8px white, 1px 0 8px white, 0 -1px 8px white;
  color: black;
  font-weight: bold;
}

/* --- Sidebar --- */
/* .side-navbar {
    width: 180px;
    height: 100%;
    position: fixed;
    margin-left: -300px;
    background-color: #100901;
    transition: 0.5s;
  }
  
  .nav-link:active,
  .nav-link:focus,
  .nav-link:hover {
    background-color: #ffffff26;
  }
  
  .my-container {
    transition: 0.5s;
  }
  
  .active-nav {
    margin-left: 0px;
  }
  
  .active-cont {
    margin-left: 180px;
    margin-right: -180px;
  } 
  
  #menu-btn {
    z-index: 1;
    position: fixed;
    background-color: #100901;
    color: #fff;
    margin-left: 180px;
  }

  .card-title {
    min-height: ;
  } */

/* -- Header -- */

header {
  z-index: 1;
}



/* -- President -- */

.president-bg {
  background: url(../img/tie.jpg) 50% 0 fixed no-repeat;
  background-size: cover;
  height: 70vh;
}


/* -- Zitate -- */

.carousel-caption {
  text-shadow: -1px 0 8px black, 0 1px 8px black, 1px 0 8px black, 0 -1px 8px black;
}

/* -- Meinung --*/


#meinung-inner {
  max-height: 350px !important;
}

#meinung-inner .carousel-caption {
  top: 0;
}

/* -- Kontakt -- */
.form-check-label {
font-size: 1.5rem;
}
