/* === Sidebar === */
.side-navbar {
    width: 180px;
    height: 100%;
    position: fixed;
    margin-left: -300px;
    background-color: #100901;
    transition: 0.5s;
  }
  
  .nav-link:active,
  .nav-link:focus,
  .nav-link:hover {
    background-color: #ffffff26;
  }
  
  .my-container {
    transition: 0.5s;
  }
  
  .active-nav {
    margin-left: 0px;
  }
  
  /* for main section */
  .active-cont {
    margin-left: 180px;
  } 
  
  #menu-btn {
    z-index: 1;
    position: fixed;
    background-color: #100901;
    color: #fff;
    margin-left: 180px;
  }

  .card-title {
    min-height: ;
  }

/* -- Zitate -- */

.carousel-caption {
  text-shadow: -1px 0 8px black, 0 1px 8px black, 1px 0 8px black, 0 -1px 8px black;
}

/* -- Meinung --*/


#meinung-inner {
  max-height: 350px !important;
}

#meinung-inner .carousel-caption {
  top: 0;
}

/* -- Kontakt -- */
.form-check-label {
font-size: 1.5rem;
}
